<div class="row">
  <div class="col-md-12">
    <div class="jumbotron bg-light p-5 rounded">
      <h1 class="display-4">Welcome to Members Only!</h1>
      <p class="lead">A private messaging board where only members can see who wrote what.</p>
      <hr class="my-4">
      <% if (!locals.user) { %>
        <p>Please login or register to access the site.</p>
        <div class="d-flex gap-2">
          <a href="/auth/login" class="btn btn-primary">Login</a>
          <a href="/auth/register" class="btn btn-secondary">Register</a>
        </div>
      <% } else if (!locals.user.is_member) { %>
        <p>You're logged in, but you need to be a member to see all content.</p>
        <p>Enter the secret passcode to join the club!</p>
        <a href="/auth/join-club" class="btn btn-primary">Join Club</a>
      <% } else { %>
        <p>You're a member! You can view and post messages.</p>
        <div class="d-flex gap-2">
          <a href="/messages" class="btn btn-primary">View Messages</a>
          <a href="/messages/new" class="btn btn-success">New Message</a>
        </div>
      <% } %>
    </div>
  </div>
</div>

<% if (locals.user && locals.user.is_member && locals.messages && messages.length > 0) { %>
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Recent Messages</h2>
      <div class="list-group mt-3">
        <% messages.slice(0, 5).forEach(message => { %>
          <a href="/messages/<%= message.id %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= message.title %></h5>
              <small><%= new Date(message.timestamp).toLocaleString() %></small>
            </div>
            <p class="mb-1"><%= message.text.length > 100 ? message.text.substring(0, 100) + '...' : message.text %></p>
            <small>Posted by: <%= message.first_name %> <%= message.last_name %></small>
          </a>
        <% }) %>
      </div>
      <% if (messages.length > 5) { %>
        <div class="mt-3">
          <a href="/messages" class="btn btn-outline-primary">View All Messages</a>
        </div>
      <% } %>
    </div>
  </div>
<% } %> 